# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

node_modules/

bin/build
bin/detect

.idea/

buildpack-dind/pack/
buildpack-dind/lifecycle/
buildpack-dind/lifecycle-*
buildpack-dind/out
